@import "../../assets/global.css";

.routines__page-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 1rem;
}

.user-routines__wrapper {
  height: 100vh;
  overflow-y: scroll;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.rec-routines__wrapper {
  height: 100vh;
  overflow-y: scroll;
  margin: 1rem;
}

.routine {
  padding: 1rem;
}

.rec-routine {
  padding: 1rem;
  margin-bottom: 1rem;
  height: 200px;
}

.rec-routine:last-child {
  margin-bottom: 0;
}
