@import "../../assets/global.css";

/* write css for a div classname="split" that splits the screen into equal parts using cssgrid */
/* .split {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

/* div that centers a child element. the child element has min-width of 100px
and a regular width of 40% of the parent div*/
.quickstart__wrapper {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
