@import "../../assets/global.css";

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, var(--sky-blue), var(--royal));
  height: 4rem;
  padding: 0 20px;
}

.navbar__logo img {
  height: 3rem;
}

.navbar__links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__links li {
  margin-right: 20px;
}

.navbar__links li:last-child {
  margin-right: 0;
}

.navbar__links-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar__profile-link {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.navbar__profile-link:hover {
  background-color: #333;
  color: #fff;
} */

/*-------------Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.nav-spacer {
  height: 4rem;
}

/*-------------Nav-------------*/
#nav-wrapper {
  overflow: hidden;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; /* make sure the nav is on top of everything */
  /* border-bottom: 2px solid black; */
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  font-family: "Saira Semi Condensed", sans-serif;
  overflow: hidden;
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4rem;
  line-height: 4rem;
  flex-grow: 1;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: var(--sky-blue);
  background: -webkit-linear-gradient(45deg, var(--sky-blue), var(--royal));
  background: linear-gradient(45deg, var(--sky-blue), var(--royal));
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
/* span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
} */

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

h1.logo a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link-span {
  transform: skew(20deg);
  display: inline-block;
}

.nav-link {
  border-top: none;
  text-transform: uppercase;
  text-align: center;
  transform: skew(-20deg);
  color: #777;
  text-decoration: none;
}

.nav-link:last-child {
  padding-right: 3rem;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--sky-blue);
}

a:link.active,
a:visited.active,
a:active.active {
  background: var(--sky-blue);
  background: -webkit-linear-gradient(45deg, var(--sky-blue), var(--royal));
  background: linear-gradient(45deg, var(--sky-blue), var(--royal));
  color: #fff;
}

a:hover {
  color: #444;
  background: #ddd;
  background: linear-gradient(45deg, #fff, #ddd);
}

.right {
  /* display: flex;
  flex-direction: column;
  height: 100%; */
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  left: 1.5em;
  height: auto;
}

/* MEDIA QUERY CURRENTLY NOT DOING ANYTHING */
@media (min-width: 800px) {
  /* #nav-wrapper {
    overflow: hidden;
  } */

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active,
  a:visited.active,
  a:active.active {
    background: var(--sky-blue);
    background: -webkit-linear-gradient(45deg, var(--sky-blue), var(--royal));
    background: linear-gradient(45deg, var(--sky-blue), var(--royal));
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 3em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}
